.cover {
  width: 430px;
  height: 330px;
  border: 1px;
  background-color: white;
  border-radius: 2%;
  display: flex;
  justify-content: center;
  position: fixed;
}

.cover__icon {
  position: absolute;
  top: -40px;
  right: -40px;
}

.cover__edit {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  margin: 0;
}

.cover__input {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  border: none;
  width: 358px;
  display: flex;
}

.cover__input-name {
  margin-top: 54px;
}

.cover__input-about {
  margin: 29.74px 0 48px 0;
}

.cover__divider {
  flex-grow: 1;
  border-bottom: 1px solid #838383;
}

.cover__button {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: center;
  width: 358px;
  height: 50.15px;
  background-color: black;
  color: white;
  border: none;
}
